@import "./base/generales";
@import "./componets/footer";
@import "./base/variables";

// header{
//     background-color: black;
//     position: sticky;
//     top: 0;
//     justify-content: space-between;
//     align-items: center;
//     div{
//         img{
//             width: 70px;
//         height: 70px;
//         }
//     }
//     div{
//         nav{
//             height: 20px;
//             text-align: center;
//         }
//     }
//     div{
//         nav{
//             ul{
//                 list-style: none;
//                 display: inline-block;
//                 padding: 18px;
//                 li{
//                     float: left;
//                     font-size: 20px;
//                     margin-top: 20px;
//                     border:2px solid black;
//                     background-color: #FECD70;
//                     &:hover{
//                         background: rgb(255,174,109);
//                         background: linear-gradient(90deg, rgba(255,174,109,1) 0%, rgba(246,237,192,1) 50%, rgba(255,174,109,1) 100%);
//                     }
//                     a{
//                         color: white;
//                         font-weight: bold; 
//                         font-size: none;
//                         padding: 18px;
//                         text-decoration: none;
//                     }
//                 }
//             }
//         }
//     }
// }


/*VISTA MOBILE*/
@media screen and (min-width: 0px){
    .grid-contenedor{
        width: 100%;
        color: black;
        font-size: 40px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: grid;
    
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
    }
    .encabezado{
        background-color: #FFAE6D;
        grid-area: header;
    }
    .contenido{
        grid-area: main;
    }
    .pie{
        background-color: black;
        grid-area: footer;
    }
    /*HEADER*/
    header{
        div{
            img{
                width: 70px;
                height: 70px;
            }
            nav{
                height: 20px;
                text-align: center;
                ul{
                    list-style: none;
                    display: inline-block;
                    padding: 18px;
                    li{
                        float: left;
                        font-size: 20px;
                        margin-top: 20px;
                        border:2px solid black;
                        background-color: #FECD70;
                        a{
                            color: white;
                            font-weight: bold; 
                            font-size: none;
                            padding: 18px;
                            text-decoration: none;
                        }
                        &:hover{
                            background: rgb(255,174,109);
                            background: linear-gradient(90deg, rgba(255,174,109,1) 0%, rgba(246,237,192,1) 50%, rgba(255,174,109,1) 100%);
                        }
                    }
                }
            }
        }
    }
    /*MAIN*/
    main{
        .img{
            width: 300px;
            height: 300px;
        }
        section{
            .hero{
                background-image: url("../img/local.jpg");
                width: 100%;
                height: 80vh;
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
                div{
                    text-align: center;
                    background-color: black;
                    color: white;
                    h2{
                        text-align: center;
                    }
                    
                }
            }
        }
        .prodcutos{
            border: black 2px;
            align-items: center;
            h2{
                text-align: center;
            }
            .contenedor-producto{
                justify-content: space-around;
                align-items: center;
                .card{
                    width: 100%;
                    margin: 0 auto;
                    color: black;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    display: grid;
                
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: auto auto  ;
                
                    grid-template-areas: 
                    "titulo titulo "
                    "imagen descripcion"
                    ;
                    border: 2px solid black;
                    .titulo-producto{
                        grid-area: titulo;
                        text-align: center;
                        font-size: 20px;
                        padding: 5px;
                        margin: 5px;
                        grid-column: span 2;
                    }
                    .img-producto{
                        grid-area: imagen;
                        width: 300px;
                        height: 300px;
                        margin: 5px;
                        padding: 5px;
                    
                    }
                    .descrip-producto{
                        grid-area: descripcion;
                        font-size: 15px;
                        text-align: center;
                        align-items: center;
                    }
                }
            }
        }
        .prodcutos-pedido{
            border: black 2px;
            align-items: center;
            h2{
                text-align: center;
            }
            .contenedor-producto{
                justify-content: space-around;
                align-items: center;
                div{
                    width: 100%;
                    margin: 0 auto;
                    color: black;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    display: grid;
                
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: auto auto 10px;
                
                    grid-template-areas: 
                    "titulo titulo boton-pedido"
                    "imagen descripcion descripcion "
                    ;
                    border: 2px solid black;
                    .titulo-producto{
                        grid-area: titulo;
                        text-align: center;
                        font-size: 20px;
                        padding: 5px;
                        margin: 5px;
                        grid-column: span 2;
                    }
                    .img-producto{
                        grid-area: imagen;
                        width: 300px;
                        height: 300px;
                        margin: 5px;
                        padding: 5px;
                    
                    }
                    .descrip-producto{
                        grid-area: descripcion;
                        font-size: 15px;
                        text-align: justify;
                        align-items: flex-start;
                        margin-bottom: 20px;
                    }
                    .agregar-pedido{
                        grid-area: boton-pedido;
                    }
                    
                    .productos-pedido div a{
                        display: inline-block;
                        text-decoration: none;
                        background-color: blue;
                        color: white;
                    }
                    
                    /*Pagina Historia*/
                    .contenedor-historia .historia{
                        width: 100%;
                        margin: 0 auto;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        grid-template-rows: auto auto;
                    
                        grid-template-areas: 
                        "img descrip"
                        "img descrip"
                        ;
                    }
                    
                    .img{
                        grid-area: img;
                        width: 300px;
                        height: 300px;
                        margin: 5px;
                        padding: 5px;
                    }
                    .descrip{
                        grid-area: descrip;
                        font-size: 15px;
                        text-align: justify;
                        margin-bottom: 20px;
                    }
                }
            
            }
        }
    }
    /*FOOTER*/
    footer{
        background-color: black;
        div{
            text-align: center;
            color: white;
        }
    }  
}


